html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  font-display: swap;
  @apply bg-amber-50 dark:bg-stone-800 overflow-y-scroll pt-32;
}

.prose :where(h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply no-underline font-semibold;
}
