html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  color: #18181b;
  overflow-y: scroll;
  /* padding-top: 4rem; */
}

:root {
  --transition-standard: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.prose {
  @apply prose-slate max-w-none;
}

.prose p {
  margin-bottom: 1.5em;  /* Increased margin for better spacing */
}

.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
