@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme static {
  --font-family: "Poppins", "Public Sans", sans-serif;
}

:root {
  --ui-radius: 0.75rem;
}

body {
  overflow-y: scroll;
  @apply bg-linear-to-br from-neutral-50/20 via-neutral-950/5 to-neutral-50/10 dark:from-neutral-950/20 dark:via-neutral-50/5 dark:to-neutral-950/10;
}
